h1, p {
  font-family: Lato, serif;
}
ul {
  padding: 0;
  margin:10px 0 0 0;
}
li {
  width: 40%;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color:rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}
form {
  margin: 10px;
}

#delperson {
  float: right;
  background-color: rgba(61, 120, 175, 0.41);
  border-style: solid;
  border-color: darkcyan;
}

#delperson:hover {
  background-color: rgba(87, 161, 231, 0.75);
}

#delperson:active {
  background-color: rgba(56, 107, 155, 0.41);
}
